.input-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  padding-bottom: 25px;
}

.list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-top: 20px;
  cursor: pointer;
  transition:
    transform 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background-color: rgba(128, 128, 128, 0.11);
}

.list-item.clicked {
  transform: scale(0.98);
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px inset;
}

.list-item.complete {
  background-color: rgba(35, 206, 35, 0.11);
  color: white;
}

main {
  padding: 15px;
}
